<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Daftar Produk UMKM Scendy</h1>
        <a href="{{ url_for('add') }}" class="btn btn-primary mb-3">Tambah Barang</a>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Kode Barang</th>
                    <th>Nama Barang</th>
                    <th>Harga Barang</th>
                    <th>Stok Barang</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for brg in dtstok %}
                <tr>
                    <td>{{ brg[0] }}</td>
                    <td>{{ brg[1] }}</td>
                    <td>{{ brg[2] }}</td>
                    <td>{{ brg[3] }}</td>
                    <td>
                        <a href="{{ url_for('edit', id=brg[0]) }}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{{ url_for('delete', id=brg[0]) }}" class="btn btn-danger btn-sm">Hapus</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>